<div class="row no-gutters justify-content-between fs--1 my-3 mx-2">
  <div class="col-12 col-sm-auto text-center">
    <p class="mb-0 text-1000">
      All right reserved <span class="d-none d-sm-inline-block">| </span><br class="d-sm-none" />
      2024 &copy; <a href="/">
        <%= appInfo.app_name %>
      </a>
    </p>
  </div>
  <div class="col-12 col-sm-auto text-center">
    <a href="changelog">v<%= changelogVersion.version %></a>
  </div>
</div>
