<!DOCTYPE html>
<html class="navbar-vertical-collapsed" lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- ===============================================-->
    <!--                  Document Title                -->
    <!-- ===============================================-->
    <title><%= appInfo.app_name %>  | Costumers</title>

    <!-- ===============================================-->
    <!--                     Favicons                   -->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png" />
    <link rel="manifest" href="assets/img/favicons/site.webmanifest" />
    <link rel="mask-icon" href="assets/img/favicons/safari-pinned-tab.svg" color="#5bbad5" />
    <link rel="shortcut icon" href="assets/img/favicons/favicon.ico" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="msapplication-config" content="assets/img/favicons/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />
    
    <!-- ===============================================-->
    <!--                    Stylesheets                 -->
    <!-- ===============================================-->
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link href="../assets/lib/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" />
    <link href="../assets/lib/datatables-bs4/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="../assets/lib/datatables.net-responsive-bs4/responsive.bootstrap4.css" rel="stylesheet" />
    <link href="../assets/css/theme.css" rel="stylesheet" />
    <link id="dark-mode-css" href="../assets/css/theme-dark.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:100,200,300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet"/>

    <!-- ===============================================-->
    <!--                   JavaScripts                  -->
    <!-- ===============================================-->
    <script src="../assets/js/config.navbar-vertical.js"></script>
    <script>
      var mode = localStorage.getItem("theme-mode");
      if (mode === "dark") {
        document.getElementById("dark-mode-css").removeAttribute("disabled");
      } else {
        document.getElementById("dark-mode-css").setAttribute("disabled", true);
      }
    </script>
  </head>

  <body>
    <!-- ===============================================-->
    <!--                    Main Content                -->
    <!-- ===============================================-->
    <main class="main" id="top">
      <div class="container" data-layout="container">
        <%- include('partials/sidebar.ejs') %>
        <div class="content">
          <%- include('partials/navbar.ejs') %>

          <div class="card">
            <div class="card-header">
              <div class="row align-items-center justify-content-between">
                <div class="col-4 col-sm-auto d-flex align-items-center pr-0">
                  <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">Customers</h5>
                </div>
                <div class="col-8 col-sm-auto text-right pl-2">
                  <div class="d-none" id="customers-actions">
                    <div class="input-group input-group-sm">
                      <select class="custom-select cus" aria-label="Bulk actions">
                        <option selected="">Bulk actions</option>
                        <option value="Delete">Delete</option>
                        <option value="Archive">Archive</option>
                      </select>
                      <button class="btn btn-falcon-default btn-sm ml-2" type="button">
                        Apply
                      </button>
                    </div>
                  </div>
                  <div id="customer-table-actions">
                    <button class="btn btn-falcon-default btn-sm" type="button">
                      <span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span><span
                        class="d-none d-sm-inline-block ml-1">New</span>
                    </button>
                    <button class="btn btn-falcon-default btn-sm mx-2" type="button">
                      <span class="fas fa-filter" data-fa-transform="shrink-3 down-2"></span><span
                        class="d-none d-sm-inline-block ml-1">Filter</span>
                    </button>
                    <button class="btn btn-falcon-default btn-sm" type="button">
                      <span class="fas fa-external-link-alt" data-fa-transform="shrink-3 down-2"></span><span
                        class="d-none d-sm-inline-block ml-1">Export</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body p-0">
              <div class="falcon-data-table">
                <table class="table table-sm mb-0 table-striped table-dashboard fs--1 data-table border-bottom border-200"
                  data-options='{"searching":true,"responsive":true,"pageLength":20,"info":true,"lengthChange":true,"sWrapper":"falcon-data-table-wrapper","dom":"<&#39;row mx-1&#39;<&#39;col-sm-12 col-md-6&#39;l><&#39;col-sm-12 col-md-6&#39;f>><&#39;table-responsive&#39;tr><&#39;row no-gutters px-1 py-3 align-items-center justify-content-center&#39;<&#39;col-auto&#39;p>>","language":{"paginate":{"next":"<span class=\"fas fa-chevron-right\"></span>","previous":"<span class=\"fas fa-chevron-left\"></span>"}}}'>
                  <thead class="bg-200 text-900">
                    <tr>
                      <th class="align-middle no-sort pr-3">
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input checkbox-bulk-select" id="checkbox-bulk-customers-select"
                            type="checkbox" data-checkbox-body="#customers" data-checkbox-actions="#customers-actions"
                            data-checkbox-replaced-element="#customer-table-actions" />
                          <label class="custom-control-label" for="checkbox-bulk-customers-select"></label>
                        </div>
                      </th>
                      <th class="align-middle sort">Name</th>
                      <th class="align-middle sort">Email</th>
                      <th class="align-middle sort">Phone</th>
                      <th class="align-middle sort pl-5" style="min-width: 200px">
                        Billing Address
                      </th>
                      <th class="align-middle sort">Joined</th>
                      <th class="align-middle no-sort"></th>
                    </tr>
                  </thead>
                  <tbody id="customers">
                    <tr class="btn-reveal-trigger">
                      <td class="py-2 align-middle white-space-nowrap">
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input checkbox-bulk-select-target" type="checkbox"
                            id="customer-checkbox-0" />
                          <label class="custom-control-label" for="customer-checkbox-0"></label>
                        </div>
                      </td>
                      <td class="py-2 align-middle white-space-nowrap customer-name-column">
                        <a href="costumer-detail">
                          <div class="media d-flex align-items-center">
                            <div class="avatar avatar-xl mr-2">
                              <div class="avatar-name rounded-circle">
                                <span>RA</span>
                              </div>
                            </div>
                            <div class="media-body">
                              <h5 class="mb-0 fs--1">Ricky Antony</h5>
                            </div>
                          </div>
                        </a>
                      </td>
                      <td class="py-2 align-middle">
                        <a href="mailto:ricky@example.com">ricky@example.com</a>
                      </td>
                      <td class="py-2 align-middle white-space-nowrap">
                        <a href="tel:2012001851">(201) 200-1851</a>
                      </td>
                      <td class="py-2 align-middle pl-5">
                        2392 Main Avenue, Penasauka, New Jersey 02139
                      </td>
                      <td class="py-2 align-middle">30/03/2018</td>
                      <td class="py-2 align-middle white-space-nowrap">
                        <div class="dropdown text-sans-serif">
                          <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal mr-3" type="button"
                            id="customer-dropdown-0" data-toggle="dropdown" data-boundary="viewport" aria-haspopup="true"
                            aria-expanded="false">
                            <span class="fas fa-ellipsis-h fs--1"></span>
                          </button>
                          <div class="dropdown-menu dropdown-menu-right border py-0" aria-labelledby="customer-dropdown-0">
                            <div class="bg-white py-2">
                              <a class="dropdown-item" href="#!">Edit</a><a class="dropdown-item text-danger" href="#!">Delete</a>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr class="btn-reveal-trigger">
                      <td class="py-2 align-middle white-space-nowrap">
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input checkbox-bulk-select-target" type="checkbox"
                            id="customer-checkbox-1" />
                          <label class="custom-control-label" for="customer-checkbox-1"></label>
                        </div>
                      </td>
                      <td class="py-2 align-middle white-space-nowrap customer-name-column">
                        <a href="costumer-detail">
                          <div class="media d-flex align-items-center">
                            <div class="avatar avatar-xl mr-2">
                              <img class="rounded-circle" src="../assets/img/team/2.jpg" alt="" />
                            </div>
                            <div class="media-body">
                              <h5 class="mb-0 fs--1">Emma Watson</h5>
                            </div>
                          </div>
                        </a>
                      </td>
                      <td class="py-2 align-middle">
                        <a href="mailto:emma@example.com">emma@example.com</a>
                      </td>
                      <td class="py-2 align-middle white-space-nowrap">
                        <a href="tel:2122288403">(212) 228-8403</a>
                      </td>
                      <td class="py-2 align-middle pl-5">
                        2289 5th Avenue, New York, New York, 10037
                      </td>
                      <td class="py-2 align-middle">11/07/2017</td>
                      <td class="py-2 align-middle white-space-nowrap">
                        <div class="dropdown text-sans-serif">
                          <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal mr-3" type="button"
                            id="customer-dropdown-1" data-toggle="dropdown" data-boundary="viewport" aria-haspopup="true"
                            aria-expanded="false">
                            <span class="fas fa-ellipsis-h fs--1"></span>
                          </button>
                          <div class="dropdown-menu dropdown-menu-right border py-0" aria-labelledby="customer-dropdown-1">
                            <div class="bg-white py-2">
                              <a class="dropdown-item" href="#!">Edit</a><a class="dropdown-item text-danger" href="#!">Delete</a>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr class="btn-reveal-trigger">
                      <td class="py-2 align-middle white-space-nowrap">
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input checkbox-bulk-select-target" type="checkbox"
                            id="customer-checkbox-2" />
                          <label class="custom-control-label" for="customer-checkbox-2"></label>
                        </div>
                      </td>
                      <td class="py-2 align-middle white-space-nowrap customer-name-column">
                        <a href="costumer-detail">
                          <div class="media d-flex align-items-center">
                            <div class="avatar avatar-xl mr-2">
                              <div class="avatar-name rounded-circle">
                                <span>RA</span>
                              </div>
                            </div>
                            <div class="media-body">
                              <h5 class="mb-0 fs--1">Rowen Atkinson</h5>
                            </div>
                          </div>
                        </a>
                      </td>
                      <td class="py-2 align-middle">
                        <a href="mailto:rown@example.com">rown@example.com</a>
                      </td>
                      <td class="py-2 align-middle white-space-nowrap">
                        <a href="tel:2012001851">(201) 200-1851</a>
                      </td>
                      <td class="py-2 align-middle pl-5">
                        112 Bostwick Avenue, Jersey City, New Jersey, 0730
                      </td>
                      <td class="py-2 align-middle">05/04/2016</td>
                      <td class="py-2 align-middle white-space-nowrap">
                        <div class="dropdown text-sans-serif">
                          <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal mr-3" type="button"
                            id="customer-dropdown-2" data-toggle="dropdown" data-boundary="viewport" aria-haspopup="true"
                            aria-expanded="false">
                            <span class="fas fa-ellipsis-h fs--1"></span>
                          </button>
                          <div class="dropdown-menu dropdown-menu-right border py-0" aria-labelledby="customer-dropdown-2">
                            <div class="bg-white py-2">
                              <a class="dropdown-item" href="#!">Edit</a><a class="dropdown-item text-danger" href="#!">Delete</a>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr class="btn-reveal-trigger">
                      <td class="py-2 align-middle white-space-nowrap">
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input checkbox-bulk-select-target" type="checkbox"
                            id="customer-checkbox-3" />
                          <label class="custom-control-label" for="customer-checkbox-3"></label>
                        </div>
                      </td>
                      <td class="py-2 align-middle white-space-nowrap customer-name-column">
                        <a href="costumer-detail">
                          <div class="media d-flex align-items-center">
                            <div class="avatar avatar-xl mr-2">
                              <img class="rounded-circle" src="../assets/img/team/2.jpg" alt="" />
                            </div>
                            <div class="media-body">
                              <h5 class="mb-0 fs--1">Antony Hopkins</h5>
                            </div>
                          </div>
                        </a>
                      </td>
                      <td class="py-2 align-middle">
                        <a href="mailto:antony@example.com">antony@example.com</a>
                      </td>
                      <td class="py-2 align-middle white-space-nowrap">
                        <a href="tel:9013243127">(901) 324-3127</a>
                      </td>
                      <td class="py-2 align-middle pl-5">
                        3448 Ile De France St #242, Fort Wainwright, Alaska,
                        99703
                      </td>
                      <td class="py-2 align-middle">05/04/2018</td>
                      <td class="py-2 align-middle white-space-nowrap">
                        <div class="dropdown text-sans-serif">
                          <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal mr-3" type="button"
                            id="customer-dropdown-3" data-toggle="dropdown" data-boundary="viewport" aria-haspopup="true"
                            aria-expanded="false">
                            <span class="fas fa-ellipsis-h fs--1"></span>
                          </button>
                          <div class="dropdown-menu dropdown-menu-right border py-0" aria-labelledby="customer-dropdown-3">
                            <div class="bg-white py-2">
                              <a class="dropdown-item" href="#!">Edit</a><a class="dropdown-item text-danger" href="#!">Delete</a>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr class="btn-reveal-trigger">
                      <td class="py-2 align-middle white-space-nowrap">
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input checkbox-bulk-select-target" type="checkbox"
                            id="customer-checkbox-4" />
                          <label class="custom-control-label" for="customer-checkbox-4"></label>
                        </div>
                      </td>
                      <td class="py-2 align-middle white-space-nowrap customer-name-column">
                        <a href="costumer-detail">
                          <div class="media d-flex align-items-center">
                            <div class="avatar avatar-xl mr-2">
                              <img class="rounded-circle" src="../assets/img/team/3.jpg" alt="" />
                            </div>
                            <div class="media-body">
                              <h5 class="mb-0 fs--1">Jennifer Schramm</h5>
                            </div>
                          </div>
                        </a>
                      </td>
                      <td class="py-2 align-middle">
                        <a href="mailto:jennifer@example.com">jennifer@example.com</a>
                      </td>
                      <td class="py-2 align-middle white-space-nowrap">
                        <a href="tel:8283829631">(828) 382-9631</a>
                      </td>
                      <td class="py-2 align-middle pl-5">
                        659 Hannah Street, Charlotte, NC 28273
                      </td>
                      <td class="py-2 align-middle">17/03/2016</td>
                      <td class="py-2 align-middle white-space-nowrap">
                        <div class="dropdown text-sans-serif">
                          <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal mr-3" type="button"
                            id="customer-dropdown-4" data-toggle="dropdown" data-boundary="viewport" aria-haspopup="true"
                            aria-expanded="false">
                            <span class="fas fa-ellipsis-h fs--1"></span>
                          </button>
                          <div class="dropdown-menu dropdown-menu-right border py-0" aria-labelledby="customer-dropdown-4">
                            <div class="bg-white py-2">
                              <a class="dropdown-item" href="#!">Edit</a><a class="dropdown-item text-danger" href="#!">Delete</a>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr class="btn-reveal-trigger">
                      <td class="py-2 align-middle white-space-nowrap">
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input checkbox-bulk-select-target" type="checkbox"
                            id="customer-checkbox-5" />
                          <label class="custom-control-label" for="customer-checkbox-5"></label>
                        </div>
                      </td>
                      <td class="py-2 align-middle white-space-nowrap customer-name-column">
                        <a href="costumer-detail">
                          <div class="media d-flex align-items-center">
                            <div class="avatar avatar-xl mr-2">
                              <div class="avatar-name rounded-circle">
                                <span>RM</span>
                              </div>
                            </div>
                            <div class="media-body">
                              <h5 class="mb-0 fs--1">Raymond Mims</h5>
                            </div>
                          </div>
                        </a>
                      </td>
                      <td class="py-2 align-middle">
                        <a href="mailto:raymond@example.com">raymond@example.com</a>
                      </td>
                      <td class="py-2 align-middle white-space-nowrap">
                        <a href="tel:5624685646">(562) 468-5646</a>
                      </td>
                      <td class="py-2 align-middle pl-5">
                        2298 Locust Court, Artesia, CA 90701
                      </td>
                      <td class="py-2 align-middle">12/07/2014</td>
                      <td class="py-2 align-middle white-space-nowrap">
                        <div class="dropdown text-sans-serif">
                          <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal mr-3" type="button"
                            id="customer-dropdown-5" data-toggle="dropdown" data-boundary="viewport" aria-haspopup="true"
                            aria-expanded="false">
                            <span class="fas fa-ellipsis-h fs--1"></span>
                          </button>
                          <div class="dropdown-menu dropdown-menu-right border py-0" aria-labelledby="customer-dropdown-5">
                            <div class="bg-white py-2">
                              <a class="dropdown-item" href="#!">Edit</a><a class="dropdown-item text-danger" href="#!">Delete</a>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr class="btn-reveal-trigger">
                      <td class="py-2 align-middle white-space-nowrap">
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input checkbox-bulk-select-target" type="checkbox"
                            id="customer-checkbox-6" />
                          <label class="custom-control-label" for="customer-checkbox-6"></label>
                        </div>
                      </td>
                      <td class="py-2 align-middle white-space-nowrap customer-name-column">
                        <a href="costumer-detail">
                          <div class="media d-flex align-items-center">
                            <div class="avatar avatar-xl mr-2">
                              <img class="rounded-circle" src="../assets/img/team/4.jpg" alt="" />
                            </div>
                            <div class="media-body">
                              <h5 class="mb-0 fs--1">Michael Jenkins</h5>
                            </div>
                          </div>
                        </a>
                      </td>
                      <td class="py-2 align-middle">
                        <a href="mailto:jenkins@example.com">jenkins@example.com</a>
                      </td>
                      <td class="py-2 align-middle white-space-nowrap">
                        <a href="tel:3026138829">(302) 613-8829</a>
                      </td>
                      <td class="py-2 align-middle pl-5">
                        4678 Maud Street, Philadelphia, DE 19103
                      </td>
                      <td class="py-2 align-middle">15/06/2014</td>
                      <td class="py-2 align-middle white-space-nowrap">
                        <div class="dropdown text-sans-serif">
                          <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal mr-3" type="button"
                            id="customer-dropdown-6" data-toggle="dropdown" data-boundary="viewport" aria-haspopup="true"
                            aria-expanded="false">
                            <span class="fas fa-ellipsis-h fs--1"></span>
                          </button>
                          <div class="dropdown-menu dropdown-menu-right border py-0" aria-labelledby="customer-dropdown-6">
                            <div class="bg-white py-2">
                              <a class="dropdown-item" href="#!">Edit</a><a class="dropdown-item text-danger" href="#!">Delete</a>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr class="btn-reveal-trigger">
                      <td class="py-2 align-middle white-space-nowrap">
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input checkbox-bulk-select-target" type="checkbox"
                            id="customer-checkbox-7" />
                          <label class="custom-control-label" for="customer-checkbox-7"></label>
                        </div>
                      </td>
                      <td class="py-2 align-middle white-space-nowrap customer-name-column">
                        <a href="costumer-detail">
                          <div class="media d-flex align-items-center">
                            <div class="avatar avatar-xl mr-2">
                              <img class="rounded-circle" src="../assets/img/team/13.jpg" alt="" />
                            </div>
                            <div class="media-body">
                              <h5 class="mb-0 fs--1">Kristine Cadena</h5>
                            </div>
                          </div>
                        </a>
                      </td>
                      <td class="py-2 align-middle">
                        <a href="mailto:cadena@example.com">cadena@example.com</a>
                      </td>
                      <td class="py-2 align-middle white-space-nowrap">
                        <a href="tel:3172737814">(317) 273-7814</a>
                      </td>
                      <td class="py-2 align-middle pl-5">
                        3412 Crestview Manor, Indianapolis, IN 46234
                      </td>
                      <td class="py-2 align-middle">15/04/2015</td>
                      <td class="py-2 align-middle white-space-nowrap">
                        <div class="dropdown text-sans-serif">
                          <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal mr-3" type="button"
                            id="customer-dropdown-7" data-toggle="dropdown" data-boundary="viewport" aria-haspopup="true"
                            aria-expanded="false">
                            <span class="fas fa-ellipsis-h fs--1"></span>
                          </button>
                          <div class="dropdown-menu dropdown-menu-right border py-0" aria-labelledby="customer-dropdown-7">
                            <div class="bg-white py-2">
                              <a class="dropdown-item" href="#!">Edit</a><a class="dropdown-item text-danger" href="#!">Delete</a>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr class="btn-reveal-trigger">
                      <td class="py-2 align-middle white-space-nowrap">
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input checkbox-bulk-select-target" type="checkbox"
                            id="customer-checkbox-8" />
                          <label class="custom-control-label" for="customer-checkbox-8"></label>
                        </div>
                      </td>
                      <td class="py-2 align-middle white-space-nowrap customer-name-column">
                        <a href="costumer-detail">
                          <div class="media d-flex align-items-center">
                            <div class="avatar avatar-xl mr-2">
                              <div class="avatar-name rounded-circle">
                                <span>SM</span>
                              </div>
                            </div>
                            <div class="media-body">
                              <h5 class="mb-0 fs--1">Suzanne Martinez</h5>
                            </div>
                          </div>
                        </a>
                      </td>
                      <td class="py-2 align-middle">
                        <a href="mailto:suzanne@example.com">suzanne@example.com</a>
                      </td>
                      <td class="py-2 align-middle white-space-nowrap">
                        <a href="tel:2123449983">(212) 344-9983</a>
                      </td>
                      <td class="py-2 align-middle pl-5">
                        4895 Farnum Road, New York, NY 10004
                      </td>
                      <td class="py-2 align-middle">15/04/2016</td>
                      <td class="py-2 align-middle white-space-nowrap">
                        <div class="dropdown text-sans-serif">
                          <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal mr-3" type="button"
                            id="customer-dropdown-8" data-toggle="dropdown" data-boundary="viewport" aria-haspopup="true"
                            aria-expanded="false">
                            <span class="fas fa-ellipsis-h fs--1"></span>
                          </button>
                          <div class="dropdown-menu dropdown-menu-right border py-0" aria-labelledby="customer-dropdown-8">
                            <div class="bg-white py-2">
                              <a class="dropdown-item" href="#!">Edit</a><a class="dropdown-item text-danger" href="#!">Delete</a>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr class="btn-reveal-trigger">
                      <td class="py-2 align-middle white-space-nowrap">
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input checkbox-bulk-select-target" type="checkbox"
                            id="customer-checkbox-9" />
                          <label class="custom-control-label" for="customer-checkbox-9"></label>
                        </div>
                      </td>
                      <td class="py-2 align-middle white-space-nowrap customer-name-column">
                        <a href="costumer-detail">
                          <div class="media d-flex align-items-center">
                            <div class="avatar avatar-xl mr-2">
                              <div class="avatar-name rounded-circle">
                                <span>MC</span>
                              </div>
                            </div>
                            <div class="media-body">
                              <h5 class="mb-0 fs--1">Marie Cohen</h5>
                            </div>
                          </div>
                        </a>
                      </td>
                      <td class="py-2 align-middle">
                        <a href="mailto:cohen@example.com">cohen@example.com</a>
                      </td>
                      <td class="py-2 align-middle white-space-nowrap">
                        <a href="tel:4806103481">(480) 610-3481</a>
                      </td>
                      <td class="py-2 align-middle pl-5">
                        3291 Hillside Street, Mesa, AZ 85201
                      </td>
                      <td class="py-2 align-middle">25/08/2016</td>
                      <td class="py-2 align-middle white-space-nowrap">
                        <div class="dropdown text-sans-serif">
                          <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal mr-3" type="button"
                            id="customer-dropdown-9" data-toggle="dropdown" data-boundary="viewport" aria-haspopup="true"
                            aria-expanded="false">
                            <span class="fas fa-ellipsis-h fs--1"></span>
                          </button>
                          <div class="dropdown-menu dropdown-menu-right border py-0" aria-labelledby="customer-dropdown-9">
                            <div class="bg-white py-2">
                              <a class="dropdown-item" href="#!">Edit</a><a class="dropdown-item text-danger" href="#!">Delete</a>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr class="btn-reveal-trigger">
                      <td class="py-2 align-middle white-space-nowrap">
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input checkbox-bulk-select-target" type="checkbox"
                            id="customer-checkbox-10" />
                          <label class="custom-control-label" for="customer-checkbox-10"></label>
                        </div>
                      </td>
                      <td class="py-2 align-middle white-space-nowrap customer-name-column">
                        <a href="costumer-detail">
                          <div class="media d-flex align-items-center">
                            <div class="avatar avatar-xl mr-2">
                              <img class="rounded-circle" src="../assets/img/team/9.jpg" alt="" />
                            </div>
                            <div class="media-body">
                              <h5 class="mb-0 fs--1">Michael Scates</h5>
                            </div>
                          </div>
                        </a>
                      </td>
                      <td class="py-2 align-middle">
                        <a href="mailto:scates@example.com">scates@example.com</a>
                      </td>
                      <td class="py-2 align-middle white-space-nowrap">
                        <a href="tel:3238814878">(323) 881-4878</a>
                      </td>
                      <td class="py-2 align-middle pl-5">
                        162 Hillhaven Drive, Los Angeles, CA 90063
                      </td>
                      <td class="py-2 align-middle">20/12/2016</td>
                      <td class="py-2 align-middle white-space-nowrap">
                        <div class="dropdown text-sans-serif">
                          <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal mr-3" type="button"
                            id="customer-dropdown-10" data-toggle="dropdown" data-boundary="viewport" aria-haspopup="true"
                            aria-expanded="false">
                            <span class="fas fa-ellipsis-h fs--1"></span>
                          </button>
                          <div class="dropdown-menu dropdown-menu-right border py-0" aria-labelledby="customer-dropdown-10">
                            <div class="bg-white py-2">
                              <a class="dropdown-item" href="#!">Edit</a><a class="dropdown-item text-danger" href="#!">Delete</a>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr class="btn-reveal-trigger">
                      <td class="py-2 align-middle white-space-nowrap">
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input checkbox-bulk-select-target" type="checkbox"
                            id="customer-checkbox-11" />
                          <label class="custom-control-label" for="customer-checkbox-11"></label>
                        </div>
                      </td>
                      <td class="py-2 align-middle white-space-nowrap customer-name-column">
                        <a href="costumer-detail">
                          <div class="media d-flex align-items-center">
                            <div class="avatar avatar-xl mr-2">
                              <img class="rounded-circle" src="../assets/img/team/14.jpg" alt="" />
                            </div>
                            <div class="media-body">
                              <h5 class="mb-0 fs--1">Kathryn Love</h5>
                            </div>
                          </div>
                        </a>
                      </td>
                      <td class="py-2 align-middle">
                        <a href="mailto:kathryn@example.com">kathryn@example.com</a>
                      </td>
                      <td class="py-2 align-middle white-space-nowrap">
                        <a href="tel:4074463482">(407) 446-3482</a>
                      </td>
                      <td class="py-2 align-middle pl-5">
                        2551 Ocala Street, Orlando, FL 32805
                      </td>
                      <td class="py-2 align-middle">12/01/2015</td>
                      <td class="py-2 align-middle white-space-nowrap">
                        <div class="dropdown text-sans-serif">
                          <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal mr-3" type="button"
                            id="customer-dropdown-11" data-toggle="dropdown" data-boundary="viewport" aria-haspopup="true"
                            aria-expanded="false">
                            <span class="fas fa-ellipsis-h fs--1"></span>
                          </button>
                          <div class="dropdown-menu dropdown-menu-right border py-0" aria-labelledby="customer-dropdown-11">
                            <div class="bg-white py-2">
                              <a class="dropdown-item" href="#!">Edit</a><a class="dropdown-item text-danger" href="#!">Delete</a>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr class="btn-reveal-trigger">
                      <td class="py-2 align-middle white-space-nowrap">
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input checkbox-bulk-select-target" type="checkbox"
                            id="customer-checkbox-12" />
                          <label class="custom-control-label" for="customer-checkbox-12"></label>
                        </div>
                      </td>
                      <td class="py-2 align-middle white-space-nowrap customer-name-column">
                        <a href="costumer-detail">
                          <div class="media d-flex align-items-center">
                            <div class="avatar avatar-xl mr-2">
                              <div class="avatar-name rounded-circle">
                                <span>EP</span>
                              </div>
                            </div>
                            <div class="media-body">
                              <h5 class="mb-0 fs--1">Estell Pollich</h5>
                            </div>
                          </div>
                        </a>
                      </td>
                      <td class="py-2 align-middle">
                        <a href="mailto:estell@example.com">estell@example.com</a>
                      </td>
                      <td class="py-2 align-middle white-space-nowrap">
                        <a href="tel:2014474782">(201) 447-4782</a>
                      </td>
                      <td class="py-2 align-middle pl-5">
                        13572 Kurt Mews South Merritt, IA 52491
                      </td>
                      <td class="py-2 align-middle">23/04/2019</td>
                      <td class="py-2 align-middle white-space-nowrap">
                        <div class="dropdown text-sans-serif">
                          <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal mr-3" type="button"
                            id="customer-dropdown-12" data-toggle="dropdown" data-boundary="viewport" aria-haspopup="true"
                            aria-expanded="false">
                            <span class="fas fa-ellipsis-h fs--1"></span>
                          </button>
                          <div class="dropdown-menu dropdown-menu-right border py-0" aria-labelledby="customer-dropdown-12">
                            <div class="bg-white py-2">
                              <a class="dropdown-item" href="#!">Edit</a><a class="dropdown-item text-danger" href="#!">Delete</a>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr class="btn-reveal-trigger">
                      <td class="py-2 align-middle white-space-nowrap">
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input checkbox-bulk-select-target" type="checkbox"
                            id="customer-checkbox-13" />
                          <label class="custom-control-label" for="customer-checkbox-13"></label>
                        </div>
                      </td>
                      <td class="py-2 align-middle white-space-nowrap customer-name-column">
                        <a href="costumer-detail">
                          <div class="media d-flex align-items-center">
                            <div class="avatar avatar-xl mr-2">
                              <img class="rounded-circle" src="../assets/img/team/2.jpg" alt="" />
                            </div>
                            <div class="media-body">
                              <h5 class="mb-0 fs--1">Ara Mueller</h5>
                            </div>
                          </div>
                        </a>
                      </td>
                      <td class="py-2 align-middle">
                        <a href="mailto:ara@example.com">ara@example.com</a>
                      </td>
                      <td class="py-2 align-middle white-space-nowrap">
                        <a href="tel:2029984702">(202) 998-4702</a>
                      </td>
                      <td class="py-2 align-middle pl-5">
                        91979 Kohler Place Waelchiborough, CT 41291
                      </td>
                      <td class="py-2 align-middle">23/04/2019</td>
                      <td class="py-2 align-middle white-space-nowrap">
                        <div class="dropdown text-sans-serif">
                          <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal mr-3" type="button"
                            id="customer-dropdown-13" data-toggle="dropdown" data-boundary="viewport" aria-haspopup="true"
                            aria-expanded="false">
                            <span class="fas fa-ellipsis-h fs--1"></span>
                          </button>
                          <div class="dropdown-menu dropdown-menu-right border py-0" aria-labelledby="customer-dropdown-13">
                            <div class="bg-white py-2">
                              <a class="dropdown-item" href="#!">Edit</a><a class="dropdown-item text-danger" href="#!">Delete</a>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr class="btn-reveal-trigger">
                      <td class="py-2 align-middle white-space-nowrap">
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input checkbox-bulk-select-target" type="checkbox"
                            id="customer-checkbox-14" />
                          <label class="custom-control-label" for="customer-checkbox-14"></label>
                        </div>
                      </td>
                      <td class="py-2 align-middle white-space-nowrap customer-name-column">
                        <a href="costumer-detail">
                          <div class="media d-flex align-items-center">
                            <div class="avatar avatar-xl mr-2">
                              <div class="avatar-name rounded-circle">
                                <span>LB</span>
                              </div>
                            </div>
                            <div class="media-body">
                              <h5 class="mb-0 fs--1">Lucienne Blick</h5>
                            </div>
                          </div>
                        </a>
                      </td>
                      <td class="py-2 align-middle">
                        <a href="mailto:blick@example.com">blick@example.com</a>
                      </td>
                      <td class="py-2 align-middle white-space-nowrap">
                        <a href="tel:8512654641">(851) 265-4641</a>
                      </td>
                      <td class="py-2 align-middle pl-5">
                        6757 Giuseppe Meadows Geraldinemouth, MO 48819-4970
                      </td>
                      <td class="py-2 align-middle">23/04/2019</td>
                      <td class="py-2 align-middle white-space-nowrap">
                        <div class="dropdown text-sans-serif">
                          <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal mr-3" type="button"
                            id="customer-dropdown-14" data-toggle="dropdown" data-boundary="viewport" aria-haspopup="true"
                            aria-expanded="false">
                            <span class="fas fa-ellipsis-h fs--1"></span>
                          </button>
                          <div class="dropdown-menu dropdown-menu-right border py-0" aria-labelledby="customer-dropdown-14">
                            <div class="bg-white py-2">
                              <a class="dropdown-item" href="#!">Edit</a><a class="dropdown-item text-danger" href="#!">Delete</a>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr class="btn-reveal-trigger">
                      <td class="py-2 align-middle white-space-nowrap">
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input checkbox-bulk-select-target" type="checkbox"
                            id="customer-checkbox-15" />
                          <label class="custom-control-label" for="customer-checkbox-15"></label>
                        </div>
                      </td>
                      <td class="py-2 align-middle white-space-nowrap customer-name-column">
                        <a href="costumer-detail">
                          <div class="media d-flex align-items-center">
                            <div class="avatar avatar-xl mr-2">
                              <img class="rounded-circle" src="../assets/img/team/5.jpg" alt="" />
                            </div>
                            <div class="media-body">
                              <h5 class="mb-0 fs--1">Laverne Haag</h5>
                            </div>
                          </div>
                        </a>
                      </td>
                      <td class="py-2 align-middle">
                        <a href="mailto:haag@example.com">haag@example.com</a>
                      </td>
                      <td class="py-2 align-middle white-space-nowrap">
                        <a href="tel:2459881927">(245) 988-1927</a>
                      </td>
                      <td class="py-2 align-middle pl-5">
                        2327 Kaylee Mill East Citlalli, AZ 89582-3143
                      </td>
                      <td class="py-2 align-middle">22/04/2019</td>
                      <td class="py-2 align-middle white-space-nowrap">
                        <div class="dropdown text-sans-serif">
                          <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal mr-3" type="button"
                            id="customer-dropdown-15" data-toggle="dropdown" data-boundary="viewport" aria-haspopup="true"
                            aria-expanded="false">
                            <span class="fas fa-ellipsis-h fs--1"></span>
                          </button>
                          <div class="dropdown-menu dropdown-menu-right border py-0" aria-labelledby="customer-dropdown-15">
                            <div class="bg-white py-2">
                              <a class="dropdown-item" href="#!">Edit</a><a class="dropdown-item text-danger" href="#!">Delete</a>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr class="btn-reveal-trigger">
                      <td class="py-2 align-middle white-space-nowrap">
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input checkbox-bulk-select-target" type="checkbox"
                            id="customer-checkbox-16" />
                          <label class="custom-control-label" for="customer-checkbox-16"></label>
                        </div>
                      </td>
                      <td class="py-2 align-middle white-space-nowrap customer-name-column">
                        <a href="costumer-detail">
                          <div class="media d-flex align-items-center">
                            <div class="avatar avatar-xl mr-2">
                              <img class="rounded-circle" src="../assets/img/team/6.jpg" alt="" />
                            </div>
                            <div class="media-body">
                              <h5 class="mb-0 fs--1">Brandon Bednar</h5>
                            </div>
                          </div>
                        </a>
                      </td>
                      <td class="py-2 align-middle">
                        <a href="mailto:bednar@example.com">bednar@example.com</a>
                      </td>
                      <td class="py-2 align-middle white-space-nowrap">
                        <a href="tel:9535899324">(953) 589-9324 </a>
                      </td>
                      <td class="py-2 align-middle pl-5">
                        25156 Isaac Crossing Apt. 810 Lonborough, CO 83774-5999
                      </td>
                      <td class="py-2 align-middle">22/04/2019</td>
                      <td class="py-2 align-middle white-space-nowrap">
                        <div class="dropdown text-sans-serif">
                          <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal mr-3" type="button"
                            id="customer-dropdown-16" data-toggle="dropdown" data-boundary="viewport" aria-haspopup="true"
                            aria-expanded="false">
                            <span class="fas fa-ellipsis-h fs--1"></span>
                          </button>
                          <div class="dropdown-menu dropdown-menu-right border py-0" aria-labelledby="customer-dropdown-16">
                            <div class="bg-white py-2">
                              <a class="dropdown-item" href="#!">Edit</a><a class="dropdown-item text-danger" href="#!">Delete</a>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr class="btn-reveal-trigger">
                      <td class="py-2 align-middle white-space-nowrap">
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input checkbox-bulk-select-target" type="checkbox"
                            id="customer-checkbox-17" />
                          <label class="custom-control-label" for="customer-checkbox-17"></label>
                        </div>
                      </td>
                      <td class="py-2 align-middle white-space-nowrap customer-name-column">
                        <a href="costumer-detail">
                          <div class="media d-flex align-items-center">
                            <div class="avatar avatar-xl mr-2">
                              <div class="avatar-name rounded-circle">
                                <span>DB</span>
                              </div>
                            </div>
                            <div class="media-body">
                              <h5 class="mb-0 fs--1">Dimitri Boehm</h5>
                            </div>
                          </div>
                        </a>
                      </td>
                      <td class="py-2 align-middle">
                        <a href="mailto:dimitri@example.com">dimitri@example.com</a>
                      </td>
                      <td class="py-2 align-middle white-space-nowrap">
                        <a href="tel:9434099147">(943) 409-9147</a>
                      </td>
                      <td class="py-2 align-middle pl-5">
                        71603 Wolff Plains Apt. 885 Johnstonton, MI 01581
                      </td>
                      <td class="py-2 align-middle">23/04/2019</td>
                      <td class="py-2 align-middle white-space-nowrap">
                        <div class="dropdown text-sans-serif">
                          <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal mr-3" type="button"
                            id="customer-dropdown-17" data-toggle="dropdown" data-boundary="viewport" aria-haspopup="true"
                            aria-expanded="false">
                            <span class="fas fa-ellipsis-h fs--1"></span>
                          </button>
                          <div class="dropdown-menu dropdown-menu-right border py-0" aria-labelledby="customer-dropdown-17">
                            <div class="bg-white py-2">
                              <a class="dropdown-item" href="#!">Edit</a><a class="dropdown-item text-danger" href="#!">Delete</a>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr class="btn-reveal-trigger">
                      <td class="py-2 align-middle white-space-nowrap">
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input checkbox-bulk-select-target" type="checkbox"
                            id="customer-checkbox-18" />
                          <label class="custom-control-label" for="customer-checkbox-18"></label>
                        </div>
                      </td>
                      <td class="py-2 align-middle white-space-nowrap customer-name-column">
                        <a href="costumer-detail">
                          <div class="media d-flex align-items-center">
                            <div class="avatar avatar-xl mr-2">
                              <div class="avatar-name rounded-circle">
                                <span>TF</span>
                              </div>
                            </div>
                            <div class="media-body">
                              <h5 class="mb-0 fs--1">Trace Farrell</h5>
                            </div>
                          </div>
                        </a>
                      </td>
                      <td class="py-2 align-middle">
                        <a href="mailto:trace@example.com">trace@example.com</a>
                      </td>
                      <td class="py-2 align-middle white-space-nowrap">
                        <a href="tel:4424850384">(442) 485-0384</a>
                      </td>
                      <td class="py-2 align-middle pl-5">
                        431 Steuber Mews Apt. 252 Germanland, AK 25882
                      </td>
                      <td class="py-2 align-middle">26/04/2019</td>
                      <td class="py-2 align-middle white-space-nowrap">
                        <div class="dropdown text-sans-serif">
                          <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal mr-3" type="button"
                            id="customer-dropdown-18" data-toggle="dropdown" data-boundary="viewport" aria-haspopup="true"
                            aria-expanded="false">
                            <span class="fas fa-ellipsis-h fs--1"></span>
                          </button>
                          <div class="dropdown-menu dropdown-menu-right border py-0" aria-labelledby="customer-dropdown-18">
                            <div class="bg-white py-2">
                              <a class="dropdown-item" href="#!">Edit</a><a class="dropdown-item text-danger" href="#!">Delete</a>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr class="btn-reveal-trigger">
                      <td class="py-2 align-middle white-space-nowrap">
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input checkbox-bulk-select-target" type="checkbox"
                            id="customer-checkbox-19" />
                          <label class="custom-control-label" for="customer-checkbox-19"></label>
                        </div>
                      </td>
                      <td class="py-2 align-middle white-space-nowrap customer-name-column">
                        <a href="costumer-detail">
                          <div class="media d-flex align-items-center">
                            <div class="avatar avatar-xl mr-2">
                              <img class="rounded-circle" src="../assets/img/team/13.jpg" alt="" />
                            </div>
                            <div class="media-body">
                              <h5 class="mb-0 fs--1">Estell Nienow</h5>
                            </div>
                          </div>
                        </a>
                      </td>
                      <td class="py-2 align-middle">
                        <a href="mailto:nienow@example.com">nienow@example.com</a>
                      </td>
                      <td class="py-2 align-middle white-space-nowrap">
                        <a href="tel:5056977549">(505) 697-7549</a>
                      </td>
                      <td class="py-2 align-middle pl-5">
                        4167 Laverna Manor Marysemouth, NV 74590
                      </td>
                      <td class="py-2 align-middle">26/04/2019</td>
                      <td class="py-2 align-middle white-space-nowrap">
                        <div class="dropdown text-sans-serif">
                          <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal mr-3" type="button"
                            id="customer-dropdown-19" data-toggle="dropdown" data-boundary="viewport" aria-haspopup="true"
                            aria-expanded="false">
                            <span class="fas fa-ellipsis-h fs--1"></span>
                          </button>
                          <div class="dropdown-menu dropdown-menu-right border py-0" aria-labelledby="customer-dropdown-19">
                            <div class="bg-white py-2">
                              <a class="dropdown-item" href="#!">Edit</a><a class="dropdown-item text-danger" href="#!">Delete</a>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr class="btn-reveal-trigger">
                      <td class="py-2 align-middle white-space-nowrap">
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input checkbox-bulk-select-target" type="checkbox"
                            id="customer-checkbox-20" />
                          <label class="custom-control-label" for="customer-checkbox-20"></label>
                        </div>
                      </td>
                      <td class="py-2 align-middle white-space-nowrap customer-name-column">
                        <a href="costumer-detail">
                          <div class="media d-flex align-items-center">
                            <div class="avatar avatar-xl mr-2">
                              <img class="rounded-circle" src="../assets/img/team/14.jpg" alt="" />
                            </div>
                            <div class="media-body">
                              <h5 class="mb-0 fs--1">Daisha Howe</h5>
                            </div>
                          </div>
                        </a>
                      </td>
                      <td class="py-2 align-middle">
                        <a href="mailto:howe@example.com">howe@example.com</a>
                      </td>
                      <td class="py-2 align-middle white-space-nowrap">
                        <a href="tel:3375713547">(337) 571-3547</a>
                      </td>
                      <td class="py-2 align-middle pl-5">
                        829 Lavonne Valley Apt. 074 Stehrfort, RI 77914-0379
                      </td>
                      <td class="py-2 align-middle">25/04/2019</td>
                      <td class="py-2 align-middle white-space-nowrap">
                        <div class="dropdown text-sans-serif">
                          <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal mr-3" type="button"
                            id="customer-dropdown-20" data-toggle="dropdown" data-boundary="viewport" aria-haspopup="true"
                            aria-expanded="false">
                            <span class="fas fa-ellipsis-h fs--1"></span>
                          </button>
                          <div class="dropdown-menu dropdown-menu-right border py-0" aria-labelledby="customer-dropdown-20">
                            <div class="bg-white py-2">
                              <a class="dropdown-item" href="#!">Edit</a><a class="dropdown-item text-danger" href="#!">Delete</a>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr class="btn-reveal-trigger">
                      <td class="py-2 align-middle white-space-nowrap">
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input checkbox-bulk-select-target" type="checkbox"
                            id="customer-checkbox-21" />
                          <label class="custom-control-label" for="customer-checkbox-21"></label>
                        </div>
                      </td>
                      <td class="py-2 align-middle white-space-nowrap customer-name-column">
                        <a href="costumer-detail">
                          <div class="media d-flex align-items-center">
                            <div class="avatar avatar-xl mr-2">
                              <div class="avatar-name rounded-circle">
                                <span>MH</span>
                              </div>
                            </div>
                            <div class="media-body">
                              <h5 class="mb-0 fs--1">Miles Haley</h5>
                            </div>
                          </div>
                        </a>
                      </td>
                      <td class="py-2 align-middle">
                        <a href="mailto:haley@example.com">haley@example.com</a>
                      </td>
                      <td class="py-2 align-middle white-space-nowrap">
                        <a href="tel:7646194683">(764) 619-4683</a>
                      </td>
                      <td class="py-2 align-middle pl-5">
                        53150 Thad Squares Apt. 263 Archibaldfort, MO 00837
                      </td>
                      <td class="py-2 align-middle">24/04/2019</td>
                      <td class="py-2 align-middle white-space-nowrap">
                        <div class="dropdown text-sans-serif">
                          <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal mr-3" type="button"
                            id="customer-dropdown-21" data-toggle="dropdown" data-boundary="viewport" aria-haspopup="true"
                            aria-expanded="false">
                            <span class="fas fa-ellipsis-h fs--1"></span>
                          </button>
                          <div class="dropdown-menu dropdown-menu-right border py-0" aria-labelledby="customer-dropdown-21">
                            <div class="bg-white py-2">
                              <a class="dropdown-item" href="#!">Edit</a><a class="dropdown-item text-danger" href="#!">Delete</a>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr class="btn-reveal-trigger">
                      <td class="py-2 align-middle white-space-nowrap">
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input checkbox-bulk-select-target" type="checkbox"
                            id="customer-checkbox-22" />
                          <label class="custom-control-label" for="customer-checkbox-22"></label>
                        </div>
                      </td>
                      <td class="py-2 align-middle white-space-nowrap customer-name-column">
                        <a href="costumer-detail">
                          <div class="media d-flex align-items-center">
                            <div class="avatar avatar-xl mr-2">
                              <div class="avatar-name rounded-circle">
                                <span>BW</span>
                              </div>
                            </div>
                            <div class="media-body">
                              <h5 class="mb-0 fs--1">Brenda Watsica</h5>
                            </div>
                          </div>
                        </a>
                      </td>
                      <td class="py-2 align-middle">
                        <a href="mailto:watsica@example.com">watsica@example.com</a>
                      </td>
                      <td class="py-2 align-middle white-space-nowrap">
                        <a href="tel:9616476123">(961) 647-6123</a>
                      </td>
                      <td class="py-2 align-middle pl-5">
                        9198 O'Kon Harbors Morarborough, IA 75409-7383
                      </td>
                      <td class="py-2 align-middle">24/04/2019</td>
                      <td class="py-2 align-middle white-space-nowrap">
                        <div class="dropdown text-sans-serif">
                          <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal mr-3" type="button"
                            id="customer-dropdown-22" data-toggle="dropdown" data-boundary="viewport" aria-haspopup="true"
                            aria-expanded="false">
                            <span class="fas fa-ellipsis-h fs--1"></span>
                          </button>
                          <div class="dropdown-menu dropdown-menu-right border py-0" aria-labelledby="customer-dropdown-22">
                            <div class="bg-white py-2">
                              <a class="dropdown-item" href="#!">Edit</a><a class="dropdown-item text-danger" href="#!">Delete</a>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr class="btn-reveal-trigger">
                      <td class="py-2 align-middle white-space-nowrap">
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input checkbox-bulk-select-target" type="checkbox"
                            id="customer-checkbox-23" />
                          <label class="custom-control-label" for="customer-checkbox-23"></label>
                        </div>
                      </td>
                      <td class="py-2 align-middle white-space-nowrap customer-name-column">
                        <a href="costumer-detail">
                          <div class="media d-flex align-items-center">
                            <div class="avatar avatar-xl mr-2">
                              <div class="avatar-name rounded-circle">
                                <span>EOR</span>
                              </div>
                            </div>
                            <div class="media-body">
                              <h5 class="mb-0 fs--1">Ellie O'Reilly</h5>
                            </div>
                          </div>
                        </a>
                      </td>
                      <td class="py-2 align-middle">
                        <a href="mailto:ellie@example.com">ellie@example.com</a>
                      </td>
                      <td class="py-2 align-middle white-space-nowrap">
                        <a href="tel:6016888144"> (601) 688-8144</a>
                      </td>
                      <td class="py-2 align-middle pl-5">
                        1478 Kaitlin Haven Apt. 061 Lake Muhammadmouth, SC 35848
                      </td>
                      <td class="py-2 align-middle">24/04/2019</td>
                      <td class="py-2 align-middle white-space-nowrap">
                        <div class="dropdown text-sans-serif">
                          <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal mr-3" type="button"
                            id="customer-dropdown-23" data-toggle="dropdown" data-boundary="viewport" aria-haspopup="true"
                            aria-expanded="false">
                            <span class="fas fa-ellipsis-h fs--1"></span>
                          </button>
                          <div class="dropdown-menu dropdown-menu-right border py-0" aria-labelledby="customer-dropdown-23">
                            <div class="bg-white py-2">
                              <a class="dropdown-item" href="#!">Edit</a><a class="dropdown-item text-danger" href="#!">Delete</a>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr class="btn-reveal-trigger">
                      <td class="py-2 align-middle white-space-nowrap">
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input checkbox-bulk-select-target" type="checkbox"
                            id="customer-checkbox-24" />
                          <label class="custom-control-label" for="customer-checkbox-24"></label>
                        </div>
                      </td>
                      <td class="py-2 align-middle white-space-nowrap customer-name-column">
                        <a href="costumer-detail">
                          <div class="media d-flex align-items-center">
                            <div class="avatar avatar-xl mr-2">
                              <div class="avatar-name rounded-circle">
                                <span>GB</span>
                              </div>
                            </div>
                            <div class="media-body">
                              <h5 class="mb-0 fs--1">Garry Brainstrow</h5>
                            </div>
                          </div>
                        </a>
                      </td>
                      <td class="py-2 align-middle">
                        <a href="mailto:garry@example.com">garry@example.com</a>
                      </td>
                      <td class="py-2 align-middle white-space-nowrap">
                        <a href="tel:4018799970">(401) 879-9970</a>
                      </td>
                      <td class="py-2 align-middle pl-5">
                        Garry Brainstrow, 13572 Kurt Mews South Merritt, IA
                        52491
                      </td>
                      <td class="py-2 align-middle">23/04/2019</td>
                      <td class="py-2 align-middle white-space-nowrap">
                        <div class="dropdown text-sans-serif">
                          <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal mr-3" type="button"
                            id="customer-dropdown-24" data-toggle="dropdown" data-boundary="viewport" aria-haspopup="true"
                            aria-expanded="false">
                            <span class="fas fa-ellipsis-h fs--1"></span>
                          </button>
                          <div class="dropdown-menu dropdown-menu-right border py-0" aria-labelledby="customer-dropdown-24">
                            <div class="bg-white py-2">
                              <a class="dropdown-item" href="#!">Edit</a><a class="dropdown-item text-danger" href="#!">Delete</a>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <footer><%- include('partials/footer.ejs') %></footer>
        </div>
      </div>
    </main>
    <!-- ===============================================-->
    <!--                End of Main Content             -->
    <!-- ===============================================-->

    <!-- ===============================================-->
    <!--                    JavaScripts                 -->
    <!-- ===============================================-->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/lib/@fortawesome/all.min.js"></script>
    <script src="../assets/lib/stickyfilljs/stickyfill.min.js"></script>
    <script src="../assets/lib/sticky-kit/sticky-kit.min.js"></script>
    <script src="../assets/lib/is_js/is.min.js"></script>
    <script src="../assets/lib/lodash/lodash.min.js"></script>
    <script src="../assets/lib/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="../assets/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="../assets/lib/datatables-bs4/dataTables.bootstrap4.min.js"></script>
    <script src="../assets/lib/datatables.net-responsive/dataTables.responsive.js"></script>
    <script src="../assets/lib/datatables.net-responsive-bs4/responsive.bootstrap4.js"></script>
    <script src="../assets/js/theme.js"></script>
  </body>
</html>
