<!DOCTYPE html>
<html class="navbar-vertical-collapsed" lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- ===============================================-->
    <!--                   Document Title               -->
    <!-- ===============================================-->
    <title><%= appInfo.app_name %>  | Notifications</title>

    <!-- ===============================================-->
    <!--                      Favicons                  -->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png" />
    <link rel="manifest" href="assets/img/favicons/site.webmanifest" />
    <link rel="mask-icon" href="assets/img/favicons/safari-pinned-tab.svg" color="#5bbad5" />
    <link rel="shortcut icon" href="assets/img/favicons/favicon.ico" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="msapplication-config" content="assets/img/favicons/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />
    
    <!-- ===============================================-->
    <!--                    Stylesheets                 -->
    <!-- ===============================================-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:100,200,300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link href="../assets/lib/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" />
    <link href="../assets/css/theme.css" rel="stylesheet" />
    <link id="dark-mode-css" href="../assets/css/theme-dark.css" rel="stylesheet">

    <!-- ===============================================-->
    <!--                   JavaScripts                  -->
    <!-- ===============================================-->
    <script src="../assets/js/config.navbar-vertical.js"></script>
    <script>
      var mode = localStorage.getItem("theme-mode");
      if (mode === "dark") {
        document.getElementById("dark-mode-css").removeAttribute("disabled");
      } else {
        document.getElementById("dark-mode-css").setAttribute("disabled", true);
      }
    </script>
  </head>

  <body>
    <!-- ===============================================-->
    <!--                   Main Content                 -->
    <!-- ===============================================-->
    <main class="main" id="top">
      <div class="container" data-layout="container">
        <%- include('partials/sidebar.ejs') %>
        <div class="content">
          <%- include('partials/navbar.ejs') %>

          <div class="card overflow-hidden mb-3">
            <div class="card-header bg-light">
              <div class="row justify-content-between align-items-center">
                <div class="col-sm-auto">
                  <h5 class="mb-1 mb-md-0">Your Notifications</h5>
                </div>
                <div class="col-sm-auto fs--1">
                  <a class="text-sans-serif" href="#!">Mark all as read</a><a class="text-sans-serif ml-2 ml-sm-3"
                    href="#notification-settings-modal" data-toggle="modal">Notification settings</a>
                </div>
              </div>
            </div>
            <div class="card-body fs--1 p-0">
              <a class="border-bottom-0 notification rounded-0 border-x-0 border-300" href="#!">
                <div class="notification-avatar">
                  <div class="avatar avatar-xl mr-3">
                    <img class="rounded-circle" src="../assets/img/team/1.jpg" alt="" />
                  </div>
                </div>
                <div class="notification-body">
                  <p class="mb-1">
                    Announcing the winners of the
                    <strong>The only book awards</strong> decided by you, the
                    readers. Check out the champions and runners-up in all 21
                    categories now!
                  </p>
                  <span class="notification-time"><span class="mr-1" role="img" aria-label="Emoji">📢</span>Just Now</span>
                </div>
              </a>
          
              <a class="border-bottom-0 bg-200 notification rounded-0 border-x-0 border-300" href="#!">
                <div class="notification-avatar">
                  <div class="avatar avatar-xl mr-3">
                    <img class="rounded-circle" src="../assets/img/team/2.jpg" alt="" />
                  </div>
                </div>
                <div class="notification-body">
                  <p class="mb-1">
                    Last chance to vote in
                    <strong>The 2018 Falcon Choice Awards</strong>! See what
                    made it to the Final Round and help your favorites take home
                    the win. Voting closes on November 26
                  </p>
                  <span class="notification-time"><span class="mr-1" role="img" aria-label="Emoji">🏆</span>15m</span>
                </div>
              </a>
          
              <a class="border-bottom-0 notification rounded-0 border-x-0 border-300" href="#!">
                <div class="notification-avatar">
                  <div class="avatar avatar-xl mr-3">
                    <img class="rounded-circle" src="../assets/img/team/3.jpg" alt="" />
                  </div>
                </div>
                <div class="notification-body">
                  <p class="mb-1">
                    <strong>Jennifer Kent</strong> declared you as a
                    <strong>President</strong> of Computer Science and
                    Engineering Society
                  </p>
                  <span class="notification-time"><span class="mr-1" role="img" aria-label="Emoji">📢</span>1h</span>
                </div>
              </a>
          
              <a class="border-bottom-0 bg-200 notification rounded-0 border-x-0 border-300" href="#!">
                <div class="notification-avatar">
                  <div class="avatar avatar-xl mr-3">
                    <img class="rounded-circle" src="../assets/img/team/4.jpg" alt="" />
                  </div>
                </div>
                <div class="notification-body">
                  <p class="mb-1">
                    Congratulate <strong>Woody Allen</strong> for starting a new
                    position as Business Development Manager &amp;
                    Implementation Engineer at
                    <strong>Hewlett Packard Enterprise(HP)</strong>
                  </p>
                  <span class="notification-time"><span class="mr-1" role="img" aria-label="Emoji">🎁</span>6h</span>
                </div>
              </a>
          
              <a class="border-bottom-0 bg-200 notification rounded-0 border-x-0 border-300" href="#!">
                <div class="notification-avatar">
                  <div class="avatar avatar-xl mr-3">
                    <img class="rounded-circle" src="../assets/img/team/5.jpg" alt="" />
                  </div>
                </div>
                <div class="notification-body">
                  <p class="mb-1">
                    <strong>Christopher Nolan</strong> Mentioned you in a
                    comment : "Congratulations! Wishing you a great future.
                    Proud fo you ❤️"
                  </p>
                  <span class="notification-time"><span class="mr-1" role="img" aria-label="Emoji">💬</span>8h</span>
                </div>
              </a>
          
              <a class="border-bottom-0 notification rounded-0 border-x-0 border-300" href="#!">
                <div class="notification-avatar">
                  <div class="avatar avatar-xl mr-3">
                    <img class="rounded-circle" src="../assets/img/logos/harvard.png" alt="" />
                  </div>
                </div>
                <div class="notification-body">
                  <p class="mb-1">
                    Join <strong>GIS Institute Winter 2019</strong> Event
                    arranged by <strong>Harvard University</strong>. Only three
                    days to go.
                  </p>
                  <span class="notification-time"><span class="mr-1" role="img" aria-label="Emoji">🚶</span>9h</span>
                </div>
              </a>
          
              <a class="border-bottom-0 bg-200 notification rounded-0 border-x-0 border-300" href="#!">
                <div class="notification-avatar">
                  <div class="avatar avatar-xl mr-3">
                    <img class="rounded-circle" src="../assets/img/team/7.jpg" alt="" />
                  </div>
                </div>
                <div class="notification-body">
                  <p class="mb-1">
                    <strong>Peter Jackson</strong> set CSE Curnival Programe in
                    New Museums Site in <strong>University of Cambridge</strong>
                  </p>
                  <span class="notification-time"><span class="mr-1" role="img" aria-label="Emoji">💻</span>14h</span>
                </div>
              </a>
          
              <a class="border-bottom-0 notification rounded-0 border-x-0 border-300" href="#!">
                <div class="notification-avatar">
                  <div class="avatar avatar-xl mr-3">
                    <img class="rounded-circle" src="../assets/img/team/8.jpg" alt="" />
                  </div>
                </div>
                <div class="notification-body">
                  <p class="mb-1">
                    <strong>David Fincher</strong> declared you as a verified
                    member of <strong>Stanford University.</strong>
                  </p>
                  <span class="notification-time"><span class="mr-1" role="img" aria-label="Emoji">✔️</span>2d</span>
                </div>
              </a>
          
              <a class="border-bottom-0 notification rounded-0 border-x-0 border-300" href="#!">
                <div class="notification-avatar">
                  <div class="avatar avatar-xl mr-3">
                    <img class="rounded-circle" src="../assets/img/team/9.jpg" alt="" />
                  </div>
                </div>
                <div class="notification-body">
                  <p class="mb-1">
                    Follow
                    <strong>International Conference on Water and Environmental
                      Engineering (ICWEE)</strong>
                    event arranged by United Nations Development Program on 30
                    December 2018
                  </p>
                  <span class="notification-time"><span class="mr-1" role="img" aria-label="Emoji">🔍</span>3d</span>
                </div>
              </a>
          
              <a class="border-bottom-0 notification rounded-0 border-x-0 border-300" href="#!">
                <div class="notification-avatar">
                  <div class="avatar avatar-xl mr-3">
                    <img class="rounded-circle" src="../assets/img/team/10.jpg" alt="" />
                  </div>
                </div>
                <div class="notification-body">
                  <p class="mb-1">
                    <strong>James Cameron</strong> invited to join the group:
                    United Nations International Children's Fund
                  </p>
                  <span class="notification-time"><span class="mr-1" role="img" aria-label="Emoji">🙋‍</span>2d</span>
                </div>
              </a>
          
              <a class="border-bottom-0 bg-200 notification rounded-0 border-x-0 border-300" href="#!">
                <div class="notification-avatar">
                  <div class="avatar avatar-xl mr-3">
                    <img class="rounded-circle" src="../assets/img/logos/oxford.png" alt="" />
                  </div>
                </div>
                <div class="notification-body">
                  <p class="mb-1">
                    <strong>University of Oxford</strong> created an event :
                    "Causal Inference Hilary 2019"
                  </p>
                  <span class="notification-time"><span class="mr-1" role="img" aria-label="Emoji">✌️</span>1w</span>
                </div>
              </a>
            </div>
          </div>
          <footer><%- include('partials/footer.ejs') %></footer>
        </div>

        <div class="modal fade" id="notification-settings-modal" tabindex="-1" role="dialog"
          aria-labelledby="notification-settings-modal-label" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header d-flex align-items-center border-bottom p-3">
                <h4 class="mb-0" id="notification-settings-modal-label">
                  Notification Settings
                </h4>
              </div>
              <div class="modal-body p-4">
                <form class="text-left">
                  <div class="custom-control custom-radio">
                    <input class="custom-control-input" type="radio" name="notification-settings" id="always" />
                    <label class="custom-control-label" for="always">Get a notification each time there is activity on your
                      page or an important update.
                    </label>
                  </div>
                  <div class="custom-control custom-radio">
                    <input class="custom-control-input" type="radio" name="notification-settings" id="everyday" />
                    <label class="custom-control-label" for="everyday">Get one notification every 12-24 hours on all activity
                      and updates.
                    </label>
                  </div>
                  <div class="custom-control custom-radio">
                    <input class="custom-control-input" type="radio" name="notification-settings" id="off" />
                    <label class="custom-control-label" for="off">Off </label>
                  </div>
                  <h5 class="fs-0 mb-3 mt-4">
                    Edit your notification settings for:
                  </h5>
                  <ul class="list-group list-group-flush mb-4 fs--1">
                    <li class="list-group-item d-flex justify-content-between align-items-center py-2 px-0 border-200">
                      <span>New Mention of Page </span><span>
                        <input class="ios-toggle" id="checkbox1" type="checkbox" name="checkbox1" checked="" />
                        <label class="checkbox-label checkbox-label-sm" for="checkbox1" data-off="" data-on=""></label></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center py-2 px-0 border-200">
                      <span>New Comments on page post</span><span>
                        <input class="ios-toggle" id="checkbox2" type="checkbox" name="checkbox2" checked="" />
                        <label class="checkbox-label checkbox-label-sm" for="checkbox2" data-off="" data-on=""></label></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center py-2 px-0 border-200">
                      <span>Edits to Comments you have written</span><span>
                        <input class="ios-toggle" id="checkbox3" type="checkbox" name="checkbox3" checked="" />
                        <label class="checkbox-label checkbox-label-sm" for="checkbox3" data-off="" data-on=""></label></span>
                    </li>
                  </ul>
                  <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" id="followers-activity" />
                    <label class="custom-control-label" for="followers-activity">Allow notifications from your followers
                      activity
                    </label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" id="groups" />
                    <label class="custom-control-label" for="groups">Groups
                    </label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" id="associations" />
                    <label class="custom-control-label" for="associations">Associations
                    </label>
                  </div>
                </form>
              </div>
              <div class="modal-footer border-top text-left py-3 px-4 d-flex justify-content-end">
                <button class="btn btn-secondary btn-sm" data-dismiss="modal">
                  Cancel
                </button>
                <button class="btn btn-primary btn-sm ml-2" type="submit">
                  Update
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- ===============================================-->
    <!--                End of Main Content             -->
    <!-- ===============================================-->

    <!-- ===============================================-->
    <!--                    JavaScripts                 -->
    <!-- ===============================================-->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/lib/@fortawesome/all.min.js"></script>
    <script src="../assets/lib/stickyfilljs/stickyfill.min.js"></script>
    <script src="../assets/lib/sticky-kit/sticky-kit.min.js"></script>
    <script src="../assets/lib/is_js/is.min.js"></script>
    <script src="../assets/lib/lodash/lodash.min.js"></script>
    <script src="../assets/lib/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="../assets/js/theme.js"></script>
  </body>
</html>
