
html, body {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', serif;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('https://cdn.yoavik.com/codepen/ios-notifications/background.jpg');
  background-size: cover;
  background-position: center;
}

.add-button {
  background-color: #0284c7;
  color: white;
  border: none;
  border-radius: 2rem;
  padding: 0.8rem 1.2rem 0.8rem 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-out;
  font-size: 1.2rem;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.1), 0 0.5rem 1rem rgba(0, 0, 0, 0.3);

  &:hover {
    background-color: #0ea5e9;
    transform: translateY(-0.1rem);
    box-shadow: 0 0.3rem 0.2rem rgba(0, 0, 0, 0.1), 0 0.6rem 1rem rgba(0, 0, 0, 0.3);

    svg {
      transform: rotate(90deg);
    }
  }

  &:active {
    transition: all 0.1s ease-out;
    transform: translateY(0rem);
  }

  svg {
    transition: transform 0.3s ease-out;
    margin-right: 0.3rem;
    font-size: 1.5rem;
  }
}

.notifications {
  --width: 23rem;
  --height: 4.5rem;
  --gap: 0rem;

  position: fixed;
  bottom: 0;
  pointer-events: none;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 3rem;

  &:hover {
    .notification {
      transform: translateY(0) scale(1);

      .notification-inner {
        opacity: 1;
        background-color: hsl(0 0% 100% / 40%);
      }

      &.exit-active {
        transform: translateY(0) scale(0.5);

        .notification-inner {
          background-color: hsl(100 0% 100% / 100%) !important;
        }
      }
    }
  }

  .notification {
    display: flex;
    transform: translateY(var(--y)) scale(var(--scale));
    transform-origin: center;
    transition: 0.5s ease;
    pointer-events: auto;
    background-color: transparent !important;
    width: var(--width);
    height: var(--height);

    &.enter {
      transform: translateY(100%) scale(1);
      margin-bottom: calc((var(--height) + var(--gap)) * -1);
    }

    &.enter-active {
      transform: translateY(var(--y)) scale(var(--scale));
      margin-bottom: 0;
    }

    &.exit-active {
      transform: translateY(calc(var(--y) - 10%)) scale(calc(var(--scale) - 0.1));
      margin-bottom: calc((var(--height) + var(--gap)) * -1);

      .notification-inner {
        opacity: 0;
      }
    }
  }

  .notification-inner {
    background-color: var(--bg) !important;
    -webkit-backdrop-filter: blur(0.5rem);
    backdrop-filter: blur(0.5rem);
    padding: 0 1rem;
    border-radius: 0.5rem;
    width: var(--width);
    height: var(--height);
    margin-bottom: var(--gap);
    padding-top: 12px !important;
    padding-bottom: 4px !important;
    opacity: var(--opacity);
    transition: all var(--duration) ease-in-out;
    display: flex;
    align-items: center;

    h2 {
      font-weight: bold;
      font-size: 0.9rem;
    }

    p {
      margin-top: 0.5rem;
      font-size: 0.8rem;
    }

    .close {
      background: none;
      border: none;
      position: absolute;
      right: 0;
      top: 0;
      font-size: 0.8rem;
      padding: 0.5rem;
      cursor: pointer;
      display: flex;
    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 0.3rem;
      margin-right: 1rem;
      font-size: 1rem;
      color: white;

      &.error {
        background-color: #f87171;
      }

      &.success {
        background-color: #10b981;
      }

      &.info {
        background-color: #60a5fa;
      }

      &.warning {
        background-color: #f59e0b;
      }
    }
  }
}
